[user]
	name = MichiTheGenius
	email = michael.litzinger@proton.me
[core]
	editor = vim
[alias]
	s = status
	ca = !git add . && git commit
	cob = checkout -b
	co = checkout
	l = log
	b = branch
	f = fetch
[init]
	defaultBranch = main
